.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.contact-left {
  width: 50%;
  padding-right: 50px;
}

.contact-left h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-item i {
  font-size: 24px;
  margin-right: 20px;
  color: #333;
  transition: color 0.3s;
}

.contact-item:hover i {
  color: #2196f3;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-value {
  font-size: 16px;
  color: #666;
}

.contact-right {
  flex: 1;
  padding: 50px;
  border-radius: 10px;
  margin-left: 20px;
  
  
}

.contact-right h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}


.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type='text'],
input[type='email'],
textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  border-color: #2196f3;
  outline: none;
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
}

textarea {
  height: 234px;
}

button[type='submit'] {
  background-color: yellowgreen;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


button[type='submit']:hover {
  background-color: #1e88e5;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 20px;
  }

  .contact-left,
  .contact-right {
    width: 100%;
    padding: 20px;
  }
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: start;
  justify-content: center;
  height: 100%;
  padding: 50px;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.contact-left,
.contact-right {
  padding: 20px;
  
  border-radius: 10px;
  
}


  
  
