/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Search bar */
/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  /* position: relative; */
}

.search-input {
  flex: 1;
  border: none; /* Remove the border */
  outline: none;
  font-size: 16px;
  padding: 10px 10px 10px 40px; /* Add space on the left for the icon */
  border-radius: 5px;
  background-color: #f1f1f1; /* Add background color */
}

.search-icon {
  
  /* position: absolute; */
  left: 10px; /* Adjust icon position */
  top: 50%;
  transform: translateY(-50%); /* Center the icon vertically */
  font-size: 20px;
  color: #999;
  pointer-events: none; /* Prevents the icon from receiving click events */
}



/* FAQ section */
.faq-section {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.faq-section h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.faq-section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  color: #555;
}


/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
  .search-bar {
      margin-left: 15%;
      width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .search-bar {
      margin-left: 10%;
      width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .search-bar {
      margin-left: 5%;
      width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .search-bar {
      margin-left: 2%;
      width: 96%;
  }
}


  