/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  /* position: relative; */
  top: 10%;
}

.search-bar input[type='text'] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  top: 30%;
}

.search-bar i.fa {
  font-size: 20px;
  color: #999;
  margin-left: 10px;
}

/* FAQ section */
.faq-section {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}
.faq-section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  background-color: #e0f2f1; /* Change this value to your desired color */
  padding: 10px;
  border-radius: 4px;
  color: #555;
}


.faq-item {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.faq-item h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.faq-item p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
  color: #555;
  text-align: justify;
  font-weight: 400;
}

.help-search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
}

.help-search-input::placeholder {
  color: #777;
}


/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
  .search-bar {
      width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .search-bar {
      width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .search-bar {
      width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .search-bar {
      width: 96%;
  }
}


  