/* Style for the container div */
.display-container {
    margin: 20px;
  }
  
  /* Style for the date header */
  .date-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style for the exercises list */
  .exercises-list {
    margin-bottom: 20px;
    
  }
  
  /* Style for the exercise item */
  .exercise-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the exercise name */
  .exercise-name {
    font-weight: bold;
  }
  
  /* Style for the exercise sets and repetitions */
  .exercise-sets-repetitions {
    margin-top: 5px;
  }
  
  /* Style for the meetings list */
  .meetings-list {
    margin-bottom: 20px;
  }
  
  /* Style for the meeting item */
  .meeting-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the meeting id */
  .meeting-id {
    font-weight: bold;
  }
  
  /* Style for the meeting start and end time */
  .meeting-time {
    margin-top: 5px;
  }
  
  .each-date{
    border: 2px black solid;
    margin-inline: 22vw;
    margin-bottom: 5vh;
    padding-inline: 4%;
 
   border: 0.5px solid black;
  }

/* Small screens, such as smartphones */
@media only screen and (max-width: 600px) {
  .date-header {
    font-size: 8vw;
  }
  .exercise-item,
  .meeting-item,
  .each-date {
    margin-bottom: 5vw;
    padding: 5vw;
    border-width: 1vw;
    border-radius: 2vw;
  }
}

/* Medium screens, such as tablets */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .date-header {
    font-size: 3vw;
  }
  .exercise-item,
  .meeting-item,
  .each-date {
    margin-bottom: 2vw;
    padding: 2vw;
    border-width: 0.5vw;
    border-radius: 1vw;
  }
}

/* Large screens, such as laptops and desktops */
@media only screen and (min-width: 992px) {
  .date-header {
    font-size: 2vw;
  }
}