/* ... rest of the CSS styles */

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    
  
  }
  
  .calendar {
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    width: 23vw;
    
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .calendar-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5rem;
  }
  
  .calendar-row {
    display: contents;
  }
  
  .calendar-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
    font-weight: bold;
  }
  
  .calendar-cell-red {
    background-color: #FF7878;
  }
  
  .calendar-cell-green {
    background-color: #8AFF80;
  }
  
  .calendar-cell-blue {
    background-color: #80C8FF;
  }
  
  .calendar-cell-empty {
    background-color: transparent;
  }
  
  .calendar-cell-today {
    border: 2px solid #d44700;
    box-sizing: border-box;
  }
  
  .day-view-container {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
  
  .daily-view {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  

  
  
    
  
  
  
  
  