.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
  }
  
  label {
    display: block;
    margin: 10px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  a {
    margin: 10px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
  }
  