.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px;
  font-size: 18px;
}

input {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 100%;
}


input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.2s;
} */

button:hover {
  background-color: #555;
}

a {
  margin: 10px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.logo-container {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  