.rectify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../uhn_logo.svg");
  background-size: cover;
  background-position: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 80%;
  position: relative;
  top: -10%;
}

.label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #2196f3;
  outline: none;
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
}

input::placeholder {
  color: #999;
}

@media screen and (max-width: 767px) {
  .form {
    padding: 20px;
  }
  .label {
    font-size: 16px;
  }
  input {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .form {
    padding: 30px;
  }
  .label {
    font-size: 16px;
  }
  input {
    font-size: 14px;
  }
}

  
  