.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  label {
    display: block;
    margin: 10px;
  }
  
  input[type='text'] {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  button[type='submit'] {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type='submit']:hover {
    background-color: #0d8bf2;
  }
  .error-message {
    color: red;
    margin: 10px;
    font-size: 14px;
  }
  