.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../uhn_logo.svg");
  background-size: cover;
  background-position: center;
  }
  
  .forgot-password-form {
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 80%;
  position: relative;
  top: -20%;
  }
  
  .forgot-password-label {
    display: block;
    margin: 10px;
  }
  
  .forgot-password-input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  
  .forgot-password-button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .error {
    color: red;
    margin: 10px;
    font-size: 14px;
  }
  
  @media screen and (max-width: 767px) {
    .form {
      padding: 20px;
    }
    .label {
      font-size: 16px;
    }
    input {
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .form {
      padding: 30px;
    }
    .label {
      font-size: 16px;
    }
    input {
      font-size: 14px;
    }
  }
  